<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
">
  <h2>TODO List</h2>
</div>

<div class="container">

  <div style="align-self: flex-start; margin-bottom: 10px;">
    <button mat-raised-button (click)="onAdd()">
      <mat-icon>add</mat-icon>Add new Task
    </button>
  </div>

    <div class="centered-table">
        <table mat-table [dataSource]="todos" class="mat-elevation-z8" style="margin-top: 20px;">

        <!-- Title Column -->
        <ng-container matColumnDef="taskTitle">
            <th mat-header-cell *matHeaderCellDef style="width: 200px"> Tasks To Do</th>
            <td mat-cell *matCellDef="let todo" style="width: 200px"> {{ todo.taskTitle }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let todo" style="width: 50px">
            <button mat-button color="warn" (click)="deleteTodo(todo.taskId)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
        </table>
        <div *ngIf="todos.length === 0" class="no-tasks-message" style="text-align:center; margin-top: 20px; color: rgb(238, 234, 234);">
          No tasks to show. Please add a new task to view.
        </div>
        
    </div>
</div>


